In [2]:
# Install Hugging Face libraries
!pip install transformers==4.30.2 datasets

Collecting transformers==4.30.2
  Downloading transformers-4.30.2-py3-none-any.whl.metadata (113 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 113.6/113.6 kB 2.1 MB/s eta 0:00:00
Collecting datasets
  Downloading datasets-3.1.0-py3-none-any.whl.metadata (20 kB)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from transformers==4.30.2) (3.16.1)
Requirement already satisfied: huggingface-hub<1.0,>=0.14.1 in /usr/local/lib/python3.10/dist-packages (from transformers==4.30.2) (0.26.2)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.10/dist-packages (from transformers==4.30.2) (1.26.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from transformers==4.30.2) (24.2)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.10/dist-packages (from transformers==4.30.2) (6.0.2)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.10/dist-packages (from transformers==4.30.2) (2024.9.11)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from transformers==4.30.2) (2.32.3)
Collecting tokenizers!=0.11.3,<0.14,>=0.11.1 (from transformers==4.30.2)
  Downloading tokenizers-0.13.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (6.7 kB)
Requirement already satisfied: safetensors>=0.3.1 in /usr/local/lib/python3.10/dist-packages (from transformers==4.30.2) (0.4.5)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.10/dist-packages (from transformers==4.30.2) (4.66.6)
Requirement already satisfied: pyarrow>=15.0.0 in /usr/local/lib/python3.10/dist-packages (from datasets) (17.0.0)
Collecting dill<0.3.9,>=0.3.0 (from datasets)
  Downloading dill-0.3.8-py3-none-any.whl.metadata (10 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from datasets) (2.2.2)
Collecting xxhash (from datasets)
  Downloading xxhash-3.5.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (12 kB)
Collecting multiprocess<0.70.17 (from datasets)
  Downloading multiprocess-0.70.16-py310-none-any.whl.metadata (7.2 kB)
Collecting fsspec<=2024.9.0,>=2023.1.0 (from fsspec[http]<=2024.9.0,>=2023.1.0->datasets)
  Downloading fsspec-2024.9.0-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: aiohttp in /usr/local/lib/python3.10/dist-packages (from datasets) (3.10.10)
Requirement already satisfied: aiohappyeyeballs>=2.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->datasets) (2.4.3)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.10/dist-packages (from aiohttp->datasets) (1.3.1)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->datasets) (24.2.0)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from aiohttp->datasets) (1.5.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.10/dist-packages (from aiohttp->datasets) (6.1.0)
Requirement already satisfied: yarl<2.0,>=1.12.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->datasets) (1.17.1)
Requirement already satisfied: async-timeout<5.0,>=4.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->datasets) (4.0.3)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.10/dist-packages (from huggingface-hub<1.0,>=0.14.1->transformers==4.30.2) (4.12.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->transformers==4.30.2) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->transformers==4.30.2) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->transformers==4.30.2) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->transformers==4.30.2) (2024.8.30)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas->datasets) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->datasets) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas->datasets) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas->datasets) (1.16.0)
Requirement already satisfied: propcache>=0.2.0 in /usr/local/lib/python3.10/dist-packages (from yarl<2.0,>=1.12.0->aiohttp->datasets) (0.2.0)
Downloading transformers-4.30.2-py3-none-any.whl (7.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.2/7.2 MB 54.6 MB/s eta 0:00:00
Downloading datasets-3.1.0-py3-none-any.whl (480 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 480.6/480.6 kB 35.4 MB/s eta 0:00:00
Downloading dill-0.3.8-py3-none-any.whl (116 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 116.3/116.3 kB 10.8 MB/s eta 0:00:00
Downloading fsspec-2024.9.0-py3-none-any.whl (179 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 179.3/179.3 kB 16.4 MB/s eta 0:00:00
Downloading multiprocess-0.70.16-py310-none-any.whl (134 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 134.8/134.8 kB 12.6 MB/s eta 0:00:00
Downloading tokenizers-0.13.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (7.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.8/7.8 MB 101.9 MB/s eta 0:00:00
Downloading xxhash-3.5.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (194 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 194.1/194.1 kB 17.8 MB/s eta 0:00:00
Installing collected packages: tokenizers, xxhash, fsspec, dill, multiprocess, transformers, datasets
  Attempting uninstall: tokenizers
    Found existing installation: tokenizers 0.20.3
    Uninstalling tokenizers-0.20.3:
      Successfully uninstalled tokenizers-0.20.3
  Attempting uninstall: fsspec
    Found existing installation: fsspec 2024.10.0
    Uninstalling fsspec-2024.10.0:
      Successfully uninstalled fsspec-2024.10.0
  Attempting uninstall: transformers
    Found existing installation: transformers 4.46.2
    Uninstalling transformers-4.46.2:
      Successfully uninstalled transformers-4.46.2
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
gcsfs 2024.10.0 requires fsspec==2024.10.0, but you have fsspec 2024.9.0 which is incompatible.
sentence-transformers 3.2.1 requires transformers<5.0.0,>=4.41.0, but you have transformers 4.30.2 which is incompatible.
Successfully installed datasets-3.1.0 dill-0.3.8 fsspec-2024.9.0 multiprocess-0.70.16 tokenizers-0.13.3 transformers-4.30.2 xxhash-3.5.0

In [ ]:
!pip show transformers

Name: transformers
Version: 4.30.2
Summary: State-of-the-art Machine Learning for JAX, PyTorch and TensorFlow
Home-page: https://github.com/huggingface/transformers
Author: The Hugging Face team (past and future) with the help of all our contributors (https://github.com/huggingface/transformers/graphs/contributors)
Author-email: transformers@huggingface.co
License: Apache 2.0 License
Location: /usr/local/lib/python3.10/dist-packages
Requires: filelock, huggingface-hub, numpy, packaging, pyyaml, regex, requests, safetensors, tokenizers, tqdm
Required-by: peft, sentence-transformers

In [3]:
import pandas as pd

# Replace 'your_file.csv' with the name of the file you uploaded
df = pd.read_csv('/content/text_to_sql_large_dataset_fineTuned.csv')

# Check the first few rows to verify the data
df.head()

,input_text,output_text
0,List all homes that have exactly 1 bathrooms.,SELECT * FROM listings WHERE bathrooms LIKE 1;
1,List all listings in San Francisco.,SELECT * FROM listings WHERE city = 'San Franc...
2,List all homes that have exactly 1 bathrooms.,SELECT * FROM listings WHERE bathrooms = 1;
3,Show listings priced more than $1000.,SELECT * FROM listings WHERE price > 1000;
4,Show listings priced less than $100.,SELECT * FROM listings WHERE price < 100;

In [4]:
import os
from datasets import Dataset
from transformers import AutoTokenizer, AutoModelForSeq2SeqLM, DataCollatorForSeq2Seq, Trainer, TrainingArguments

# Disable W&B logging
os.environ["WANDB_DISABLED"] = "true"

# Load the tokenizer and model
#tokenizer = AutoTokenizer.from_pretrained("suriya7/t5-base-text-to-sql")
#model = AutoModelForSeq2SeqLM.from_pretrained("suriya7/t5-base-text-to-sql")
tokenizer = AutoTokenizer.from_pretrained("/content/drive/MyDrive/fine_tuned_model_ex")
model = AutoModelForSeq2SeqLM.from_pretrained("/content/drive/MyDrive/fine_tuned_model_ex")

# Convert the DataFrame to HuggingFace Dataset format
dataset = Dataset.from_pandas(df)

# Tokenize the data
def tokenize_function(examples):
    model_inputs = tokenizer(examples['input_text'], max_length=512, truncation=True, padding="max_length")
    labels = tokenizer(examples['output_text'], max_length=512, truncation=True, padding="max_length")
    labels = labels.input_ids
    labels = [-100 if token == tokenizer.pad_token_id else token for token in labels]  # Ignore pad tokens
    model_inputs["labels"] = labels
    return model_inputs

# Apply the tokenization to the entire dataset
tokenized_datasets = dataset.map(tokenize_function, batched=True)

# Set up the data collator
data_collator = DataCollatorForSeq2Seq(tokenizer, model=model)

# Set up the training arguments without W&B
training_args = TrainingArguments(
    output_dir="./results",          # Where to store the model checkpoints
    evaluation_strategy="epoch",           # Use the new `eval_strategy` parameter
    learning_rate=3e-5,              # Learning rate
    per_device_train_batch_size=16,   # Batch size for training
    per_device_eval_batch_size=16,    # Batch size for evaluation
    num_train_epochs=3,               # Number of epochs
    weight_decay=0.01,               # Strength of weight decay
    save_steps=1000,                 # Save checkpoints every 1000 steps
    logging_dir="./logs",            # Directory for logging
    logging_steps=10,               # Log every 500 steps
    run_name="text-to-sql-training"  # Optional: You can still give a run name without W&B
)

# Initialize the Trainer
trainer = Trainer(
    model=model,
    args=training_args,
    train_dataset=tokenized_datasets,
    eval_dataset=tokenized_datasets,  # Use a separate validation dataset if available
    data_collator=data_collator
)

# Start training
trainer.train()

# Save the fine-tuned model
model.save_pretrained("fine_tuned_model")
tokenizer.save_pretrained("fine_tuned_model")

/usr/local/lib/python3.10/dist-packages/transformers/modeling_utils.py:463: FutureWarning: You are using `torch.load` with `weights_only=False` (the current default value), which uses the default pickle module implicitly. It is possible to construct malicious pickle data which will execute arbitrary code during unpickling (See https://github.com/pytorch/pytorch/blob/main/SECURITY.md#untrusted-models for more details). In a future release, the default value for `weights_only` will be flipped to `True`. This limits the functions that could be executed during unpickling. Arbitrary objects will no longer be allowed to be loaded via this mode unless they are explicitly allowlisted by the user via `torch.serialization.add_safe_globals`. We recommend you start setting `weights_only=True` for any use case where you don't have full control of the loaded file. Please open an issue on GitHub for any issues related to this experimental feature.
  return torch.load(checkpoint_file, map_location="cpu")

Map:   0%|          | 0/50000 [00:00<?, ? examples/s]

Using the `WANDB_DISABLED` environment variable is deprecated and will be removed in v5. Use the --report_to flag to control the integrations used for logging result (for instance --report_to none).
/usr/local/lib/python3.10/dist-packages/transformers/optimization.py:411: FutureWarning: This implementation of AdamW is deprecated and will be removed in a future version. Use the PyTorch implementation torch.optim.AdamW instead, or set `no_deprecation_warning=True` to disable this warning
  warnings.warn(
You're using a T5TokenizerFast tokenizer. Please note that with a fast tokenizer, using the `__call__` method is faster than using a method to encode the text followed by a call to the `pad` method to get a padded encoding.

('fine_tuned_model/tokenizer_config.json',
 'fine_tuned_model/special_tokens_map.json',
 'fine_tuned_model/spiece.model',
 'fine_tuned_model/added_tokens.json',
 'fine_tuned_model/tokenizer.json')

In [10]:
import shutil

# Zip the model directory
shutil.make_archive("/content/fine_tuned_model", 'zip', "./fine_tuned_model")

'/content/fine_tuned_model.zip'

In [11]:
from google.colab import files
files.download("/content/fine_tuned_model.zip")

In [5]:
from transformers import AutoTokenizer, AutoModelForSeq2SeqLM

# Path to your fine-tuned model directory
model_path = "/content/fine_tuned_model"  # Adjust this to the correct path in Colab

# Load the fine-tuned model and tokenizer
model = AutoModelForSeq2SeqLM.from_pretrained(model_path)
tokenizer = AutoTokenizer.from_pretrained(model_path)

# Check if model and tokenizer loaded successfully
print("Model and Tokenizer Loaded Successfully")

/usr/local/lib/python3.10/dist-packages/transformers/modeling_utils.py:463: FutureWarning: You are using `torch.load` with `weights_only=False` (the current default value), which uses the default pickle module implicitly. It is possible to construct malicious pickle data which will execute arbitrary code during unpickling (See https://github.com/pytorch/pytorch/blob/main/SECURITY.md#untrusted-models for more details). In a future release, the default value for `weights_only` will be flipped to `True`. This limits the functions that could be executed during unpickling. Arbitrary objects will no longer be allowed to be loaded via this mode unless they are explicitly allowlisted by the user via `torch.serialization.add_safe_globals`. We recommend you start setting `weights_only=True` for any use case where you don't have full control of the loaded file. Please open an issue on GitHub for any issues related to this experimental feature.
  return torch.load(checkpoint_file, map_location="cpu")

Model and Tokenizer Loaded Successfully

In [6]:
def generate_sql_query(natural_language_query):
    # Prepare the input text for translation (from English to SQL)
    input_text = f"translate English to SQL: {natural_language_query}"

    # Tokenize the input text
    input_ids = tokenizer(input_text, return_tensors="pt").input_ids

    # Generate the SQL query
    output_ids = model.generate(input_ids)

    # Decode output to get the SQL query
    sql_query = tokenizer.decode(output_ids[0], skip_special_tokens=True)

    return sql_query

# Test the model with a sample query
query = "Show me all listings in New York City"
generated_sql = generate_sql_query(query)
print(f"Generated SQL Query: {generated_sql}")

query = "Find all listings with more than 3 bedrooms"
generated_sql = generate_sql_query(query)
print(f"Generated SQL Query: {generated_sql}")

/usr/local/lib/python3.10/dist-packages/transformers/generation/utils.py:1353: UserWarning: Using `max_length`'s default (20) to control the generation length. This behaviour is deprecated and will be removed from the config in v5 of Transformers -- we recommend using `max_new_tokens` to control the maximum length of the generation.
  warnings.warn(

Generated SQL Query: SELECT * FROM listings WHERE city = 'New York City';
Generated SQL Query: SELECT * FROM listings WHERE bedrooms > 3;

In [7]:
query = "Find listings with more than 4 bathrooms and a priced above $330"
generated_sql = generate_sql_query(query)
print(f"Generated SQL Query: {generated_sql}")

Generated SQL Query: SELECT * FROM listings WHERE bathrooms > 4; price > 330;

In [8]:
query = "Show all listings in Los Angeles, CA, United States and have a price below $73"
generated_sql = generate_sql_query(query)
print(f"Generated SQL Query: {generated_sql}")

Generated SQL Query: SELECT * FROM listings WHERE city = 'Los Angeles, CA

In [9]:
query = "Find all listings in Agoura Hills with a price below $905"
generated_sql = generate_sql_query(query)
print(f"Generated SQL Query: {generated_sql}")

Generated SQL Query: SELECT * FROM listings WHERE city = 'Agoura Hills';

In [12]:
pip install rouge-score

Collecting rouge-score
  Downloading rouge_score-0.1.2.tar.gz (17 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: absl-py in /usr/local/lib/python3.10/dist-packages (from rouge-score) (1.4.0)
Requirement already satisfied: nltk in /usr/local/lib/python3.10/dist-packages (from rouge-score) (3.9.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from rouge-score) (1.26.4)
Requirement already satisfied: six>=1.14.0 in /usr/local/lib/python3.10/dist-packages (from rouge-score) (1.16.0)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from nltk->rouge-score) (8.1.7)
Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (from nltk->rouge-score) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.10/dist-packages (from nltk->rouge-score) (2024.9.11)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from nltk->rouge-score) (4.66.6)
Building wheels for collected packages: rouge-score
  Building wheel for rouge-score (setup.py) ... done
  Created wheel for rouge-score: filename=rouge_score-0.1.2-py3-none-any.whl size=24935 sha256=4d5d6b71e9a5c69921b901408b4750c390c417f1b7bf5f146f5a3c745720343d
  Stored in directory: /root/.cache/pip/wheels/5f/dd/89/461065a73be61a532ff8599a28e9beef17985c9e9c31e541b4
Successfully built rouge-score
Installing collected packages: rouge-score
Successfully installed rouge-score-0.1.2

In [13]:
import pandas as pd

# Replace 'your_file.csv' with the name of the file you uploaded
df_pred = pd.read_csv('/content/sample_text_to_sql_dataset.csv')

# Check the first few rows to verify the data
df_pred.head()

,input_text,output_text
0,Find all listings with more than 4 bedrooms,SELECT * FROM listings WHERE bedrooms > 4
1,Show all listings in Duarte priced below $491,SELECT * FROM listings WHERE price < 491 AND c...
2,Find properties with at least 2 bedrooms in Sa...,SELECT * FROM listings WHERE bedrooms >= 2 AND...
3,Find properties with at least 3 bedrooms in 马里布,SELECT * FROM listings WHERE bedrooms >= 3 AND...
4,Find all listings with more than 1 bedrooms,SELECT * FROM listings WHERE bedrooms > 1

In [14]:
from transformers import AutoTokenizer, AutoModelForSeq2SeqLM
from datasets import Dataset
from rouge_score import rouge_scorer
import torch

# Load the fine-tuned model and tokenizer
tokenizer = AutoTokenizer.from_pretrained("fine_tuned_model")
model = AutoModelForSeq2SeqLM.from_pretrained("fine_tuned_model")

# Convert the DataFrame to a HuggingFace Dataset format (use your dataset DataFrame here)
dataset = Dataset.from_pandas(df_pred)

# Initialize ROUGE scorer
scorer = rouge_scorer.RougeScorer(['rouge1', 'rouge2', 'rougeL'], use_stemmer=True)

# Function to generate model predictions and compute ROUGE scores
def evaluate_rouge(dataset, model, tokenizer):
    total_scores = {"rouge1": 0, "rouge2": 0, "rougeL": 0}
    num_samples = 0

    for sample in dataset:
        input_text = sample['input_text']
        expected_output = sample['output_text']

        # Tokenize input and generate predictions
        inputs = tokenizer(input_text, return_tensors="pt", truncation=True, padding=True)
        with torch.no_grad():
            outputs = model.generate(**inputs, max_length=512)

        # Decode model prediction
        predicted_output = tokenizer.decode(outputs[0], skip_special_tokens=True)

        # Compute ROUGE scores
        rouge_score = scorer.score(expected_output, predicted_output)
        total_scores["rouge1"] += rouge_score['rouge1'].fmeasure
        total_scores["rouge2"] += rouge_score['rouge2'].fmeasure
        total_scores["rougeL"] += rouge_score['rougeL'].fmeasure
        num_samples += 1

        # Print individual sample scores (optional)
        print("Input Text:", input_text)
        print("Expected Output:", expected_output)
        print("Predicted Output:", predicted_output)
        print(f"ROUGE-1 F1: {rouge_score['rouge1'].fmeasure:.4f}, ROUGE-2 F1: {rouge_score['rouge2'].fmeasure:.4f}, ROUGE-L F1: {rouge_score['rougeL'].fmeasure:.4f}")
        print("-" * 80)

    # Calculate average scores
    avg_scores = {k: v / num_samples for k, v in total_scores.items()}
    return avg_scores

# Evaluate the dataset for ROUGE scores
average_rouge_scores = evaluate_rouge(dataset, model, tokenizer)

# Print average scores
print("\nAverage ROUGE Scores:")
print(f"ROUGE-1 F1: {average_rouge_scores['rouge1']:.4f}")
print(f"ROUGE-2 F1: {average_rouge_scores['rouge2']:.4f}")
print(f"ROUGE-L F1: {average_rouge_scores['rougeL']:.4f}")

/usr/local/lib/python3.10/dist-packages/transformers/modeling_utils.py:463: FutureWarning: You are using `torch.load` with `weights_only=False` (the current default value), which uses the default pickle module implicitly. It is possible to construct malicious pickle data which will execute arbitrary code during unpickling (See https://github.com/pytorch/pytorch/blob/main/SECURITY.md#untrusted-models for more details). In a future release, the default value for `weights_only` will be flipped to `True`. This limits the functions that could be executed during unpickling. Arbitrary objects will no longer be allowed to be loaded via this mode unless they are explicitly allowlisted by the user via `torch.serialization.add_safe_globals`. We recommend you start setting `weights_only=True` for any use case where you don't have full control of the loaded file. Please open an issue on GitHub for any issues related to this experimental feature.
  return torch.load(checkpoint_file, map_location="cpu")

Streaming output truncated to the last 5000 lines.
Input Text: Show all listings in Duarte priced below $491
Expected Output: SELECT * FROM listings WHERE price < 491 AND city = 'Duarte'
Predicted Output: SELECT * FROM listings WHERE city = 'Duarte'; price  491;
ROUGE-1 F1: 0.9412, ROUGE-2 F1: 0.6667, ROUGE-L F1: 0.7059
--------------------------------------------------------------------------------
Input Text: Find properties with at least 2 bedrooms in San Dimas
Expected Output: SELECT * FROM listings WHERE bedrooms >= 2 AND city = 'San Dimas'
Predicted Output: SELECT * FROM listings WHERE city = 'San Dimas';
ROUGE-1 F1: 0.8235, ROUGE-2 F1: 0.6667, ROUGE-L F1: 0.8235
--------------------------------------------------------------------------------
Input Text: Find properties with at least 3 bedrooms in 马里布
Expected Output: SELECT * FROM listings WHERE bedrooms >= 3 AND city = '马里布'
Predicted Output: SELECT * FROM listings WHERE city = '';
ROUGE-1 F1: 0.7692, ROUGE-2 F1: 0.5455, ROUGE-L F1: 0.7692
--------------------------------------------------------------------------------
Input Text: Find all listings with more than 1 bedrooms
Expected Output: SELECT * FROM listings WHERE bedrooms > 1
Predicted Output: SELECT * FROM listings WHERE bedrooms > 1;
ROUGE-1 F1: 1.0000, ROUGE-2 F1: 1.0000, ROUGE-L F1: 1.0000
--------------------------------------------------------------------------------
Input Text: Show all listings in Pacific Plsds priced below $471
Expected Output: SELECT * FROM listings WHERE price < 471 AND city = 'Pacific Plsds'
Predicted Output: SELECT * FROM listings WHERE city = 'Pacific Plsds' AND price  471;
ROUGE-1 F1: 1.0000, ROUGE-2 F1: 0.6667, ROUGE-L F1: 0.7000
--------------------------------------------------------------------------------
Input Text: Show all listings in Sherman Oaks  priced below $68
Expected Output: SELECT * FROM listings WHERE price < 68 AND city = 'Sherman Oaks '
Predicted Output: SELECT * FROM listings WHERE city = 'San Francisco'; price  68;
ROUGE-1 F1: 0.7368, ROUGE-2 F1: 0.4706, ROUGE-L F1: 0.6316
--------------------------------------------------------------------------------
Input Text: Show listings available for more than 365 days
Expected Output: SELECT * FROM listings WHERE availability_365 > 0
Predicted Output: SELECT * FROM listings WHERE days > 365;
ROUGE-1 F1: 0.7692, ROUGE-2 F1: 0.5455, ROUGE-L F1: 0.7692
--------------------------------------------------------------------------------
Input Text: Show all listings in Los Angeles, CA, United States priced below $73
Expected Output: SELECT * FROM listings WHERE price < 73 AND city = 'Los Angeles, CA, United States'
Predicted Output: SELECT * FROM listings WHERE city = 'Los Angeles, CA, United States'; price  73;
ROUGE-1 F1: 0.9600, ROUGE-2 F1: 0.7826, ROUGE-L F1: 0.8000
--------------------------------------------------------------------------------
Input Text: Show listings available for more than 365 days
Expected Output: SELECT * FROM listings WHERE availability_365 > 0
Predicted Output: SELECT * FROM listings WHERE days > 365;
ROUGE-1 F1: 0.7692, ROUGE-2 F1: 0.5455, ROUGE-L F1: 0.7692
--------------------------------------------------------------------------------
Input Text: Show listings available for more than 60 days
Expected Output: SELECT * FROM listings WHERE availability_60 > 0
Predicted Output: SELECT * FROM listings WHERE days > 60;
ROUGE-1 F1: 0.7692, ROUGE-2 F1: 0.5455, ROUGE-L F1: 0.7692
--------------------------------------------------------------------------------
Input Text: Find properties with at least 4 bedrooms in Topanga
Expected Output: SELECT * FROM listings WHERE bedrooms >= 4 AND city = 'Topanga'
Predicted Output: SELECT * FROM listings WHERE city = 'Topanga';
ROUGE-1 F1: 0.8000, ROUGE-2 F1: 0.6154, ROUGE-L F1: 0.8000
--------------------------------------------------------------------------------
Input Text: Find all listings with more than 5 bedrooms
Expected Output: SELECT * FROM listings WHERE bedrooms > 5
Predicted Output: SELECT * FROM listings WHERE bedrooms > 5;
ROUGE-1 F1: 1.0000, ROUGE-2 F1: 1.0000, ROUGE-L F1: 1.0000
--------------------------------------------------------------------------------
Input Text: Find properties with at least 2 bedrooms in STUDIO CITY
Expected Output: SELECT * FROM listings WHERE bedrooms >= 2 AND city = 'STUDIO CITY'
Predicted Output: SELECT * FROM listings WHERE city = 'StUDIO CITY';
ROUGE-1 F1: 0.8235, ROUGE-2 F1: 0.6667, ROUGE-L F1: 0.8235
--------------------------------------------------------------------------------
Input Text: Find all listings with more than 2 bedrooms
Expected Output: SELECT * FROM listings WHERE bedrooms > 2
Predicted Output: SELECT * FROM listings WHERE bedrooms > 2;
ROUGE-1 F1: 1.0000, ROUGE-2 F1: 1.0000, ROUGE-L F1: 1.0000
--------------------------------------------------------------------------------
Input Text: List all apartments under $163 in granada hills California, US
Expected Output: SELECT * FROM listings WHERE price < 163 AND city = 'granada hills California, US'
Predicted Output: SELECT * FROM listings WHERE city = 'Granada hills California, US';
ROUGE-1 F1: 0.8571, ROUGE-2 F1: 0.7368, ROUGE-L F1: 0.8571
--------------------------------------------------------------------------------
Input Text: List all apartments under $362 in Van nuys
Expected Output: SELECT * FROM listings WHERE price < 362 AND city = 'Van nuys'
Predicted Output: SELECT * FROM listings WHERE city = 'Ven nuys';
ROUGE-1 F1: 0.7059, ROUGE-2 F1: 0.4000, ROUGE-L F1: 0.7059
--------------------------------------------------------------------------------
Input Text: Show listings available for more than 30 days
Expected Output: SELECT * FROM listings WHERE availability_30 > 0
Predicted Output: SELECT * FROM listings WHERE days > 30;
ROUGE-1 F1: 0.7692, ROUGE-2 F1: 0.5455, ROUGE-L F1: 0.7692
--------------------------------------------------------------------------------
Input Text: List all apartments under $320 in Los Angeles County
Expected Output: SELECT * FROM listings WHERE price < 320 AND city = 'Los Angeles County'
Predicted Output: SELECT * FROM listings WHERE city = 'Los Angeles County';
ROUGE-1 F1: 0.8421, ROUGE-2 F1: 0.7059, ROUGE-L F1: 0.8421
--------------------------------------------------------------------------------
Input Text: List all apartments under $328 in Montebello
Expected Output: SELECT * FROM listings WHERE price < 328 AND city = 'Montebello'
Predicted Output: SELECT * FROM listings WHERE city = 'Monterebello';
ROUGE-1 F1: 0.6667, ROUGE-2 F1: 0.4615, ROUGE-L F1: 0.6667
--------------------------------------------------------------------------------
Input Text: List all apartments under $71 in Select Cities
Expected Output: SELECT * FROM listings WHERE price < 71 AND city = 'Select Cities'
Predicted Output: SELECT * FROM listings WHERE price  101;
ROUGE-1 F1: 0.6250, ROUGE-2 F1: 0.5714, ROUGE-L F1: 0.6250
--------------------------------------------------------------------------------
Input Text: Find all listings with more than 3 bedrooms
Expected Output: SELECT * FROM listings WHERE bedrooms > 3
Predicted Output: SELECT * FROM listings WHERE bedrooms > 3;
ROUGE-1 F1: 1.0000, ROUGE-2 F1: 1.0000, ROUGE-L F1: 1.0000
--------------------------------------------------------------------------------
Input Text: List all apartments under $401 in Sherman Oaks
Expected Output: SELECT * FROM listings WHERE price < 401 AND city = 'Sherman Oaks '
Predicted Output: SELECT * FROM listings WHERE price  401;
ROUGE-1 F1: 0.7500, ROUGE-2 F1: 0.7143, ROUGE-L F1: 0.7500
--------------------------------------------------------------------------------
Input Text: Show listings available for more than 30 days
Expected Output: SELECT * FROM listings WHERE availability_30 > 0
Predicted Output: SELECT * FROM listings WHERE days > 30;
ROUGE-1 F1: 0.7692, ROUGE-2 F1: 0.5455, ROUGE-L F1: 0.7692
--------------------------------------------------------------------------------
Input Text: Find properties with at least 1 bedrooms in Lynwood
Expected Output: SELECT * FROM listings WHERE bedrooms >= 1 AND city = 'Lynwood'
Predicted Output: SELECT * FROM listings WHERE city = 'Loswood';
ROUGE-1 F1: 0.6667, ROUGE-2 F1: 0.4615, ROUGE-L F1: 0.6667
--------------------------------------------------------------------------------
Input Text: Show all listings in Toluca lake priced below $498
Expected Output: SELECT * FROM listings WHERE price < 498 AND city = 'Toluca lake'
Predicted Output: SELECT * FROM listings WHERE city = 'Toluca lake'; price  498;
ROUGE-1 F1: 0.9474, ROUGE-2 F1: 0.7059, ROUGE-L F1: 0.7368
--------------------------------------------------------------------------------
Input Text: Show listings available for more than 30 days
Expected Output: SELECT * FROM listings WHERE availability_30 > 0
Predicted Output: SELECT * FROM listings WHERE days > 30;
ROUGE-1 F1: 0.7692, ROUGE-2 F1: 0.5455, ROUGE-L F1: 0.7692
--------------------------------------------------------------------------------
Input Text: Find all listings with more than 4 bedrooms
Expected Output: SELECT * FROM listings WHERE bedrooms > 4
Predicted Output: SELECT * FROM listings WHERE bedrooms > 4;
ROUGE-1 F1: 1.0000, ROUGE-2 F1: 1.0000, ROUGE-L F1: 1.0000
--------------------------------------------------------------------------------
Input Text: List all apartments under $187 in Windsor Hills
Expected Output: SELECT * FROM listings WHERE price < 187 AND city = 'Windsor Hills'
Predicted Output: SELECT * FROM listings WHERE city = 187;
ROUGE-1 F1: 0.7500, ROUGE-2 F1: 0.4286, ROUGE-L F1: 0.6250
--------------------------------------------------------------------------------
Input Text: Show listings available for more than 30 days
Expected Output: SELECT * FROM listings WHERE availability_30 > 0
Predicted Output: SELECT * FROM listings WHERE days > 30;
ROUGE-1 F1: 0.7692, ROUGE-2 F1: 0.5455, ROUGE-L F1: 0.7692
--------------------------------------------------------------------------------
Input Text: Find properties with at least 5 bedrooms in Littlerock
Expected Output: SELECT * FROM listings WHERE bedrooms >= 5 AND city = 'Littlerock'
Predicted Output: SELECT * FROM listings WHERE city = 'Miami';
ROUGE-1 F1: 0.6667, ROUGE-2 F1: 0.4615, ROUGE-L F1: 0.6667
--------------------------------------------------------------------------------
Input Text: Show listings available for more than 60 days
Expected Output: SELECT * FROM listings WHERE availability_60 > 0
Predicted Output: SELECT * FROM listings WHERE days > 60;
ROUGE-1 F1: 0.7692, ROUGE-2 F1: 0.5455, ROUGE-L F1: 0.7692
--------------------------------------------------------------------------------
Input Text: Show listings available for more than 30 days
Expected Output: SELECT * FROM listings WHERE availability_30 > 0
Predicted Output: SELECT * FROM listings WHERE days > 30;
ROUGE-1 F1: 0.7692, ROUGE-2 F1: 0.5455, ROUGE-L F1: 0.7692
--------------------------------------------------------------------------------
Input Text: List all apartments under $356 in West Hollywood
Expected Output: SELECT * FROM listings WHERE price < 356 AND city = 'West Hollywood'
Predicted Output: SELECT * FROM listings WHERE price  356;
ROUGE-1 F1: 0.7500, ROUGE-2 F1: 0.7143, ROUGE-L F1: 0.7500
--------------------------------------------------------------------------------
Input Text: List all apartments under $322 in Sun Valley
Expected Output: SELECT * FROM listings WHERE price < 322 AND city = 'Sun Valley'
Predicted Output: SELECT * FROM listings WHERE price  322; city = 'Sun Valley';
ROUGE-1 F1: 0.9474, ROUGE-2 F1: 0.8235, ROUGE-L F1: 0.9474
--------------------------------------------------------------------------------
Input Text: Find properties with at least 3 bedrooms in El Monte
Expected Output: SELECT * FROM listings WHERE bedrooms >= 3 AND city = 'El Monte'
Predicted Output: SELECT * FROM listings WHERE city = 'El Monte';
ROUGE-1 F1: 0.8235, ROUGE-2 F1: 0.6667, ROUGE-L F1: 0.8235
--------------------------------------------------------------------------------
Input Text: Show all listings in Sherman oaks priced below $231
Expected Output: SELECT * FROM listings WHERE price < 231 AND city = 'Sherman oaks'
Predicted Output: SELECT * FROM listings WHERE city = 'Thousand oaks' AND price  231;
ROUGE-1 F1: 0.9000, ROUGE-2 F1: 0.4444, ROUGE-L F1: 0.6000
--------------------------------------------------------------------------------
Input Text: Find all listings with more than 3 bedrooms
Expected Output: SELECT * FROM listings WHERE bedrooms > 3
Predicted Output: SELECT * FROM listings WHERE bedrooms > 3;
ROUGE-1 F1: 1.0000, ROUGE-2 F1: 1.0000, ROUGE-L F1: 1.0000
--------------------------------------------------------------------------------
Input Text: Show listings available for more than 90 days
Expected Output: SELECT * FROM listings WHERE availability_90 > 0
Predicted Output: SELECT * FROM listings WHERE days > 90;
ROUGE-1 F1: 0.7692, ROUGE-2 F1: 0.5455, ROUGE-L F1: 0.7692
--------------------------------------------------------------------------------
Input Text: Find properties with at least 3 bedrooms in rosemead
Expected Output: SELECT * FROM listings WHERE bedrooms >= 3 AND city = 'rosemead'
Predicted Output: SELECT * FROM listings WHERE city = 'Rosmead';
ROUGE-1 F1: 0.6667, ROUGE-2 F1: 0.4615, ROUGE-L F1: 0.6667
--------------------------------------------------------------------------------
Input Text: Find properties with at least 2 bedrooms in Echo Park, Los Angeles
Expected Output: SELECT * FROM listings WHERE bedrooms >= 2 AND city = 'Echo Park, Los Angeles'
Predicted Output: SELECT * FROM listings WHERE city = 'Echo Park, Los Angeles';
ROUGE-1 F1: 0.8571, ROUGE-2 F1: 0.7368, ROUGE-L F1: 0.8571
--------------------------------------------------------------------------------
Input Text: Find properties with at least 4 bedrooms in Oak Park
Expected Output: SELECT * FROM listings WHERE bedrooms >= 4 AND city = 'Oak Park'
Predicted Output: SELECT * FROM listings WHERE city = 'Oak Park';
ROUGE-1 F1: 0.8235, ROUGE-2 F1: 0.6667, ROUGE-L F1: 0.8235
--------------------------------------------------------------------------------
Input Text: Show listings available for more than 365 days
Expected Output: SELECT * FROM listings WHERE availability_365 > 0
Predicted Output: SELECT * FROM listings WHERE days > 365;
ROUGE-1 F1: 0.7692, ROUGE-2 F1: 0.5455, ROUGE-L F1: 0.7692
--------------------------------------------------------------------------------
Input Text: Find all listings with more than 5 bedrooms
Expected Output: SELECT * FROM listings WHERE bedrooms > 5
Predicted Output: SELECT * FROM listings WHERE bedrooms > 5;
ROUGE-1 F1: 1.0000, ROUGE-2 F1: 1.0000, ROUGE-L F1: 1.0000
--------------------------------------------------------------------------------
Input Text: Show all listings in Hacienda Heights priced below $146
Expected Output: SELECT * FROM listings WHERE price < 146 AND city = 'Hacienda Heights'
Predicted Output: SELECT * FROM listings WHERE city = 'Hacienda Heights'; price  146;
ROUGE-1 F1: 0.9474, ROUGE-2 F1: 0.7059, ROUGE-L F1: 0.7368
--------------------------------------------------------------------------------
Input Text: Find properties with at least 1 bedrooms in studio city
Expected Output: SELECT * FROM listings WHERE bedrooms >= 1 AND city = 'studio city'
Predicted Output: SELECT * FROM listings WHERE city = 'Studio City';
ROUGE-1 F1: 0.8235, ROUGE-2 F1: 0.6667, ROUGE-L F1: 0.8235
--------------------------------------------------------------------------------
Input Text: Find all listings with more than 1 bedrooms
Expected Output: SELECT * FROM listings WHERE bedrooms > 1
Predicted Output: SELECT * FROM listings WHERE bedrooms > 1;
ROUGE-1 F1: 1.0000, ROUGE-2 F1: 1.0000, ROUGE-L F1: 1.0000
--------------------------------------------------------------------------------
Input Text: Show listings available for more than 30 days
Expected Output: SELECT * FROM listings WHERE availability_30 > 0
Predicted Output: SELECT * FROM listings WHERE days > 30;
ROUGE-1 F1: 0.7692, ROUGE-2 F1: 0.5455, ROUGE-L F1: 0.7692
--------------------------------------------------------------------------------
Input Text: Find all listings with more than 4 bedrooms
Expected Output: SELECT * FROM listings WHERE bedrooms > 4
Predicted Output: SELECT * FROM listings WHERE bedrooms > 4;
ROUGE-1 F1: 1.0000, ROUGE-2 F1: 1.0000, ROUGE-L F1: 1.0000
--------------------------------------------------------------------------------
Input Text: List all apartments under $242 in Granada Hills
Expected Output: SELECT * FROM listings WHERE price < 242 AND city = 'Granada Hills'
Predicted Output: SELECT * FROM listings WHERE city = 'Granada Hills';
ROUGE-1 F1: 0.8235, ROUGE-2 F1: 0.6667, ROUGE-L F1: 0.8235
--------------------------------------------------------------------------------
Input Text: Show listings available for more than 60 days
Expected Output: SELECT * FROM listings WHERE availability_60 > 0
Predicted Output: SELECT * FROM listings WHERE days > 60;
ROUGE-1 F1: 0.7692, ROUGE-2 F1: 0.5455, ROUGE-L F1: 0.7692
--------------------------------------------------------------------------------
Input Text: Show listings available for more than 90 days
Expected Output: SELECT * FROM listings WHERE availability_90 > 0
Predicted Output: SELECT * FROM listings WHERE days > 90;
ROUGE-1 F1: 0.7692, ROUGE-2 F1: 0.5455, ROUGE-L F1: 0.7692
--------------------------------------------------------------------------------
Input Text: List all apartments under $122 in San Pedro
Expected Output: SELECT * FROM listings WHERE price < 122 AND city = 'San Pedro '
Predicted Output: SELECT * FROM listings WHERE city = 122;
ROUGE-1 F1: 0.7500, ROUGE-2 F1: 0.4286, ROUGE-L F1: 0.6250
--------------------------------------------------------------------------------
Input Text: Show all listings in  Porter Ranch priced below $294
Expected Output: SELECT * FROM listings WHERE price < 294 AND city = ' Porter Ranch'
Predicted Output: SELECT * FROM listings WHERE city = 'Porter Ranch'; price  294;
ROUGE-1 F1: 0.9474, ROUGE-2 F1: 0.7059, ROUGE-L F1: 0.7368
--------------------------------------------------------------------------------
Input Text: Show all listings in 洛杉矶 priced below $341
Expected Output: SELECT * FROM listings WHERE price < 341 AND city = '洛杉矶'
Predicted Output: SELECT * FROM listings WHERE price  341;
ROUGE-1 F1: 0.8571, ROUGE-2 F1: 0.8333, ROUGE-L F1: 0.8571
--------------------------------------------------------------------------------
Input Text: List all apartments under $453 in Toluca Lake
Expected Output: SELECT * FROM listings WHERE price < 453 AND city = 'Toluca Lake'
Predicted Output: SELECT * FROM listings WHERE city = 'Toluca Lake';
ROUGE-1 F1: 0.8235, ROUGE-2 F1: 0.6667, ROUGE-L F1: 0.8235
--------------------------------------------------------------------------------
Input Text: List all apartments under $185 in Arcadia, California, US
Expected Output: SELECT * FROM listings WHERE price < 185 AND city = 'Arcadia, California, US'
Predicted Output: SELECT * FROM listings WHERE city = 185; city = 'Arcadia, California, US';
ROUGE-1 F1: 0.8571, ROUGE-2 F1: 0.6316, ROUGE-L F1: 0.8571
--------------------------------------------------------------------------------
Input Text: Find all listings with more than 3 bedrooms
Expected Output: SELECT * FROM listings WHERE bedrooms > 3
Predicted Output: SELECT * FROM listings WHERE bedrooms > 3;
ROUGE-1 F1: 1.0000, ROUGE-2 F1: 1.0000, ROUGE-L F1: 1.0000
--------------------------------------------------------------------------------
Input Text: Find properties with at least 2 bedrooms in SHERMAN OAKS
Expected Output: SELECT * FROM listings WHERE bedrooms >= 2 AND city = 'SHERMAN OAKS'
Predicted Output: SELECT * FROM listings WHERE city = 'SHERMAN OAKS';
ROUGE-1 F1: 0.8235, ROUGE-2 F1: 0.6667, ROUGE-L F1: 0.8235
--------------------------------------------------------------------------------

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive